[tasks.docker-up]
description = "Spin up dependency services using Docker Compose. Postgres, Kafka etc."
run = '''
docker-compose \
  -f docker-compose.yml \
  up -d
'''

[tasks.docker-down]
description = "Tear down dependency services running in Docker Compose."
run = '''
docker-compose \
  -f docker-compose.yml \
  down
'''

[tasks.build]
description = "Run build with gradle"
run =  './gradlew build'

[tasks.test]
description = "Run tests with gradle"
run =  './gradlew test'

[tasks.lint-check]
description = "Run check with gradle"
run =  './gradlew ktlintCheck'

[tasks.lint-format]
description = "Run ktlintFormat with gradle"
run =  './gradlew ktlintFormat'
